.jumbotron{padding:0}
@media(min-width: 992px)
{
    .col-md-8
    {
        width: 66.66666667% !important;
    }
}

@media(min-width: 700px)
{
    .col-md-8
    {
        width: 66.66666667% !important;
    }
}
.container
{
    background-color: #ffffff;

}
.content {
    background: #fff3df none repeat scroll 0 0;
    padding: 20px 35px;
}
.navbar{margin-bottom: 0px; padding:0px;}
.container-fluid {
     padding-right: 0px;
     padding-left: 0px;
  /*  margin-right: auto;
    margin-left: auto;*/
}
.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
   /* overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);*/
}
.nav-link.active{
    background: #ef4d00 !important;
border:0;}
.form-group{
    margin:5px 0 0 0;
}
.nav-tabs{
    border-bottom:1px solid #ea680b;
    padding: 2px;
}
i{
    font-size: 20px;
    margin-right:5px;
}
.main-nav
{
    background: rgba(245,180,137,1);
    background: -moz-linear-gradient(top, rgba(245,180,137,1) 0%, rgba(255,102,0,1) 49%, rgba(255,202,166,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,180,137,1)), color-stop(49%, rgba(255,102,0,1)), color-stop(100%, rgba(255,202,166,1)));
    background: -webkit-linear-gradient(top, rgba(245,180,137,1) 0%, rgba(255,102,0,1) 49%, rgba(255,202,166,1) 100%);
    background: -o-linear-gradient(top, rgba(245,180,137,1) 0%, rgba(255,102,0,1) 49%, rgba(255,202,166,1) 100%);
    background: -ms-linear-gradient(top, rgba(245,180,137,1) 0%, rgba(255,102,0,1) 49%, rgba(255,202,166,1) 100%);
    background: linear-gradient(to bottom, rgba(245,180,137,1) 0%, rgba(255,102,0,1) 49%, rgba(255,202,166,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5b489', endColorstr='#ffcaa6', GradientType=0 );
    padding:2px;
}
a{color:#fff}
.main-nav>li.active>a, .main-nav>li.active>a:focus, .main-nav>li.active>a:hover {
    color: #fff;
    background-color: #d15400 !important;
}
.sub-nav>li.active>a, .sub-nav>li.active>a:focus, .sub-nav>li.active>a:hover {
    color: #fff;
    background-color: #d15400 !important;
}
input[type=date], input[type=datetime-local], input[type=email], input[type=number], input[type=password], input[type=search-md], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], textarea.md-textarea {height:1rem;}


.table td, .table th {
    padding: 0.4rem;
}